<h2>Your TreadHunter Free Trial Expires Soon!</h2>
Thank you for using TreadHunter to sell your tires.  Our records show that your free trial expires
on <%= @free_trial_contract.expiration_date.strftime('%A, %B %d') %>.  In order to ensure continued
service, and non-removal of existing listings, you will need to provide a credit card to bill before
then.<br />
You can use this link: <a href="http://www.treadhunter.com/pages/cc_info">here</a> to enter a card.<br />
Again, thank you for allowing TreadHunter.com to help your business grow.