<div id="content">
	<h3>Tire Professionals</h3>
    <p>We can help you make the most informed decision about which tires will be best for your vehicle,
    budget, and driving style.  This decision will impact the safety, ownership cost, noise, and performance
	of your vehicle, so it is an important one.</p><br />
	<h3>Installation</h3>
	<p>Our trained technicians will ensure your tires are installed properly and have the proper balance
	and alignment, to prevent shaking and pulling while driving.</p><br />
    <%= render :partial => 'layouts/storefront_info/return_to_index' %>
</div>