<div id='content'>
    <h3>What is it?</h3>
    <p>Every car has a recommended amount of air pressure in the tires to provide optimal
    performance.  By properly inflating your tires, drivers will experience the maximum
    comfort and durability.</p><br />
    <h3>Underinflation</h3>
    <p>Not maintaining enough pressure will reduce a tire's tread life (by as much as 25%).
    In addition, the tire's sidewall may flex more as the car corners which can provide
    instability.  It will also cause more resistance while rolling, reducing fuel economy
    and increasing the tire's heat.</p><br />
    <h3>Overinflation</h3>
    <p>Putting too much air in a tire will cause less of the tire to contact the road while driving,
    which can make them perform more poorly.  Overinflation will also make the tire stiffer, and 
    make it more susceptible to damage and make the car's ride harsher.</p><br />
    <h3>What is the proper pressure for my car?</h3>
    <p>Your vehicle should have a panel in the driver's door jamb that indicates the proper air
    pressure.  Otherwise, check your owner's manual.  Some vehicles may specify different pressures
    for the front and rear tires.</p><br />
    <p>Do not confuse the <i>proper</i> tire inflation with the <i>maximum</i> pressure inscribed
    on the tire's sidewall.</p><br />
    <h3>Maintenance Tips</h3>
    <p>You should check your tire inflation monthly - it is quick and important.  Get an accurate tire
    gauge at your tire shop or auto parts store and keep it in your glove box.  Tire pressure should
    be measured while the tires are cold.  Merely "looking" at a tire is not enough to determine if
    it is underinflated, as many tires appear to be fine but can be underinflated by several pounds
    per square inch.  Also, winter temperatures will cause a drop in air pressure so you may want to
    check your pressure more often in the colder weather.</p>
    <%= render :partial => 'layouts/storefront_info/return_to_index' %>
</div>