<div id="content">
    <h3>What is tread depth?</h3>
        <p>Tread depth is the depth of the grooves in your tires.  The depth is traditionally measured
        in 32nds of a inch.  New tires usually come with more than 10/32nds of an inch of tread.
        Generally speaking, the deeper the tread, the greater the ability of the tire to disperse
        rain, mud, and snow to keep the largest patch of rubber contacting the road.  On dry pavement,
        the tread depth isn't particularly important.</p><br />
    <h3>Does it matter?</h3>
        <p>In addition to keeping you from hydroplaning and losing control on wet pavement, it is against
        the law in most areas to drive with less than 1/32nd or 2/32nds of an inch.</p><br />
    <h3>How can I measure my tread depth?</h3>
        <p>The most reliable way to check the depth of your tires' tread is to use a depth gauge.  These
        are available at tire retailers and auto parts stores for less than $10.  They have a piece of metal
        that is inserted in the groove and the body rests on the edge of the tire and show you the depth.
        If you don't have access to a tire gauge, the "old school" way of testing is to insert a penny
        into the tread.  If Abe Lincoln's head sinks into the tread, you have more than 2/32nds of an inch
        of tread; of you can see the top of his head peeking out, you need to replace your tires.  Also,
        many experts are recommending 4/32nds of an inch as the minimum tread depth; this can be measured
        with a quarter just like the penny test.</p><br />
        <p>Don't forget to look for "wear bars" in the tire as well; if you see those, change your tires!</p><br />
    <h3>Other suggestions</h3>
        <p>When inspecting your tires, look for other tell-tale signs of necessary maintenance.  If you
        see excessive wear on the outer edges (or a single outer edge) of your tire, you may have under-inflated
        tires or even a suspension or alignment problem.  If you see excessive wear on the inner part of the tire, you may have over-inflated tires.</p><br />
        <p>Any of these issues can be taken care of at our store, so call to make an appointment today!</p>
    <%= render :partial => 'layouts/storefront_info/return_to_index' %>
</div>