<h1>Listing tire_searches</h1>

<table>
  <tr>
    <th></th>
    <th width="10"></th>
    <th></th>
    <th width="10"></th>
    <th></th>
  </tr>

<% @tire_searches.each do |tire_search| %>
  <tr>
    <td><%= link_to 'Show', tire_search %></td>
    <td></td>
    <td><%= link_to 'Edit', edit_tire_search_path(tire_search) %></td>
    <td></td>
    <td><%= link_to 'Destroy', tire_search, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tire search', new_tire_search_path %>
