<% provide(:title, 'Search Results') %>

<% provide(:visfire, "true") %>

<div class="main-slideshow-2">
	<!--banner slider-->
</div>

	<div id="searc-header">
	<%= render 'layouts/header_visfire' %>
</div>

<%= render 'layouts/tireresults_filter_visfire' %>