<% provide(:title, 'About TreadHunter') %>
<%= render 'shared/error_messages' %>

<div class="container">

  <!-- Main hero unit for a primary marketing message or call to action -->
  <div class="hero-unit">
    <h1>About Us</h1>
    <p>Text about TreadHunter...</p>
  </div>

  <div class="row">
    <div class="span6">
      <h2>More stuff</h2>
       <p>More stuff...</p>
    </div>
    <div class="span6">
      <h2>Even more stuff</h2>
       <p>Even more stuff...</p>
   </div>
  </div>
 </div>