<% provide(:title, 'TreadHunter.com') %>

<% provide(:visfire, "true") %>
<div class="main-slideshow-2">
  <!--banner slider-->
</div>

<div id="searc-header">
  <%= render 'layouts/header_visfire' %>
</div>

<div id="serach-content2" class="clearfix">
  <div id="search-content-inner2" class="clearfix">
    <div id="search-main2">
      <h2>Processing request...</h2>
    </div>

    <div id="edit-mid-part" class="clearfix">
    	<p>
    		Since this process takes a while, it will run in the background.  You will be emailed when the
    		spreadsheet is complete.
		</p>
    </div>
  </div>
</div>