<% provide(:title, 'TreadHunter.com') %>
<%= render 'shared/error_messages' %>

<div class="container">

  <!-- Main hero unit for a primary marketing message or call to action -->
  <div class="hero-unit">
    <h1>TreadHunter</h1>
    <p>TreadHunter.com makes it easy to find shops in your area that sell used tires for your car at prices that you can afford!</p>
    <p><a class="btn btn-primary btn-large" href="/about">Learn more &raquo;</a></p>
  </div>

  <div class="row">
    <div class="span6">
      <h2><a href="/search">Search for tires</a></h2>
       <p>Simply click the button below, enter your car or tire size, and we'll show you tires you need.</p>
      <p><a class="btn" href="/search">Search for my tires &raquo;</a></p>
    </div>
    <div class="span6">
      <h2><a href="/tire_stores">Search for stores</a></h2>
       <p>Just click this button to search for tire stores near you.</p>
      <p><a class="btn" href="/tire_stores">Search for stores &raquo;</a></p>
   </div>
  </div>
 </div>