<% provide(:title, 'TreadHunter Partners') %>
<% provide(:visfire, "true") %>
<div class="main-slideshow-2">
  <!--banner slider-->
</div>

<div id="searc-header">
  <%= render 'layouts/header_visfire' %>
</div>

<div id="serach-content2" class="clearfix">
  <div id="search-content-inner2" class="clearfix">
    <div id="search-main2">
      <h2>TreadHunter Partners</h2>
      <ul>
        <li>Home /</li>
        <li><a href="#">Our Partners</a></li>
      </ul>
    </div>

    <div id="details-mid-part" class="clearfix">
      <div style="width: 35%; display: inline; float: left;">
        <%= image_tag("partners/SS_Tire_Distributors.jpg") %>
      </div>
      <div style="width: 5%; display: inline;">
      </div>
      <div style="width: 60%; display: inline; float: right; margin-bottom: 20px;">
        <h3>
          S&S Tire Distributors
        </h3>
        <p>
          S&S Tire Distributors is a family owned and operated business. Founded in 2010,  they specialize in distributing used tires throughout the southeast. Contact John Musser for any of your used tire needs!
        </p>
        <br />
        <h4>
          S&S Tire Distributors
        </h4>
        <p>
          15 Royal Drive<br />
          Forest Park, Georgia 30297<br />
          (770)363-8473<br />
        </p>
      </div>
      <hr class="dotted-line"></hr>
    </div>
  </div>
</div>