<% provide(:title, 'TreadHunter.com - Meet The Team') %>
<% provide(:visfire, "true") %>

<%= stylesheet_link_tag "team" %>

<div class="main-slideshow-2">
    <!--banner slider-->
</div>

<div id="searc-header">
    <%= render 'layouts/header_visfire' %>
</div>

<div id="serach-content2" class="clearfix">
    <div id="search-content-inner2" class="clearfix">
        <div id="search-main2">
            <h2>Leadership</h2>
            <ul>
                <li>Home /</li>
                <li><a href="#">Meet The Team</a></li>
            </ul>
        </div>

        <div id="registration-mid-part" class="clearfix">
            <section class="row">
                <div class="clearfix" />
                <div class="col1">
                    <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSO4bDjinG3uNPZnyjNaunXbkxmh5e3PQNVnv_m8A8e5fWYh3dB">
                </div>
                <div class="col2">
                    <h3>Greg Spence</h3>
                    <h4>CEO</h4>
                    <p>
                        When not valiently fighting aliens, Greg blah blah blah...<br />
                        More stuff<br />
                        Even more stuff <br />
                        Even more stuff <br />
                    </p>
                </div>
            </section>
            <hr />            
            <section class="row">
                <div class="clearfix" />
                <div class="col1">
                    <img src="http://img1.wikia.nocookie.net/__cb20120730093525/duckopedia/images/8/86/Donald_duck_face.jpg">
                </div>
                <div class="col2">
                    <h3>Peter Mikhail</h3>
                    <h4>Chief Surgeon</h4>
                    <p>
                        Peter joined TreadHunter because New Jersey is just too darned cold in the 
                        winter.
                    </p>
                    <p>
                        More stuff.
                    </p>
                    <p>
                        Even more stuff.
                    </p>
                    <p>
                        Even more stuff.
                    </p>
                </div>
            </section>
            <hr />
            <section class="row">
                <div class="clearfix" />
                <div class="col1">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS826mMtRsKSpfd6Q-hdoRzASfJgiD6loy5ryS50Qo1Tl39Y8u-">
                </div>
                <div class="col2">
                    <h3>Kevin Irick</h3>
                    <h4>CTO</h4>
                    <p>
                        Kevin Irick joined TreadHunter in 2012 as Chief Technology Officer. Before joining
                        TreadHunter, Kevin was with CareerBuilder, Inc., most recently as Platform Integrity
                        Manager.
                    </p>
                    <p>
                        When Kevin is not working, his family is his passion.  With a beautiful wife and three
                        growing boys, he spends most of his time keeping the refrigerator stocked and watching
                        baseball games.  He also loves to play tennis, ping pong, and zoom around on the lake.
                    </p>
                </div>
            </section>
            <hr />            
        </div>
    </div>
</div>