<%= yield :scripts %>
<style>
.footer-link {
color: #CCC;
/* text-decoration: none; */
}
</style>
<footer>
	<!-- <div class="bottom"></div> -->
	<div class="footer">
		Powered by <a href="http://www.treadhunter.com">TreadHunter</a> | <a class="footer-link" href="/">home</a> 
	</div>
</footer>