<div class="infobox-half text-left">
 	<div class="street-map vignette logo-right"></div>
	<h3 class="box-title">Visit Our Store</h3>
	<p>
		<a href="#" onclick="showTabNum(2);">Get directions</a>
		Click here to to get directions to our store.
	</p>
</div>