<%= stylesheet_link_tag "button_bar" %>
<ul class="contiguous button_bar">
	<li><a href="/">Home</a></li>
	<li><a href="/our-tires">Our Tires</a></li>
	<li><a href="/store">Our Store</a></li>
	<li><a href="/information">Information</a></li>
</ul>