<div class="infobox-full">
 	<div class="logo-right">
 		<h1>Lowest Prices Guaranteed</h1>
 		Come to us with any price you find - we will beat it every time.
 	</div>
	<div>
		<%= render :partial => 'layouts/storefront/storefront_carousel',
		          :locals => {:@photos => @photos} %>
	</div>
</div>