<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for using TreadHunter.com, <%= @reservation.name %></h1>
    <p>Dear <%= @reservation.name %>,

We regret to inform you that your reservation of <%= @reservation.tire_listing.short_description %> tires from <%= @reservation.tire_listing.tire_store.visible_name %> has been cancelled by the TreadHunter system and will not be honored.<p />

We appreciate you using TreadHunter.com to find the best deals on tires in your area and hope you will continue to use us in the future.
    </p>
  </body>
</html>