<% if allow_ecomm() %>
	<h3>What is TreadHunter?</h3>
	<p>
		TreadHunter is a new service that connects tire buyers in your area 
		to your tire store. By allowing you to easily advertise your new 
		(and used) tire inventory, potential customers can find your store
		and find the tires they need.<br />
	</p>
	<p>
		We also handle the credit card processing fees and Internet marketing so
		consumers can find your tires and store.  As more consumers do their research
		and purchasing of tires on the Internet, partnering with TreadHunter lets
		your business grow with the changing times.
	</p>


	<h3>Still not sure?</h3>
	<p>Watch this short video to see why TreadHunter can help your business!</p>
		<a class="various fancybox.iframe" 
			href="http://www.youtube.com/embed/qKLdHTfjK8A?autoplay=1">
			<img src="/assets/0SSDkTbCabI.png" style="width: 320px; height: 180px;">
				<div id="banner-overlay">Click Here To See How It Works</div>
			</img>
		</a>

	<h3>Why use TreadHunter to help sell your new tires?</h3>
	<div class="checklist">
		<ul>
			<li>Gives you an Internet presence with targeted marketing</li>
			<li>Easily promote sales and specials</li>
			<li>Targeted search engine experience</li>
			<li>Customers can make reservations online to schedule an appointment</li>
		</ul>
	</div>
<% else %>
	<h3>What is TreadHunter?</h3>
	<p>
	  TreadHunter is a new service that connects tire buyers in your area 
	  to your tire store. By allowing you to easily advertise your new 
	  (and used) tire inventory, potential customers can find your store
	  and find the tires they need.<br />
	</p>				

	<h3>Why use TreadHunter to help sell your new tires?</h3>
	<div class="checklist">
		<ul>
			<li>Gives you an Internet presence</li>
			<li>Easily promote sales and specials</li>
			<li>Very cost effective storefront</li>
			<li>Targeted search engine experience</li>
			<li>Customers can make reservations online to schedule an appointment</li>
		</ul>
	</div>
<% end %>