<h3>What is TreadHunter?</h3>
<p>
  TreadHunter is a new service that connects tire buyers in your area 
  to your tire store. By allowing you to easily advertise your used
  (and new) tire inventory, potential customers can find your store
  and find the tires they need.<br />
</p>				
<br />
<h3>Why use TreadHunter to help sell your used (and new) tires?</h3>
<div class="checklist">
	<ul>
		<li>Gives you an Internet presence</li>
		<li>Very cost effective storefront</li>
		<li>Targeted search engine experience</li>
		<li>Customers can make reservations online to schedule an appointment</li>
	</ul>
</div>
<br />
<h3>Still not sure?</h3>
<p>Watch this short video to see why TreadHunter can help your business!</p>
<div class="form-part" style="min-height: 180px;">
	<a class="various fancybox.iframe" 
		href="http://www.youtube.com/embed/goudM7-GRLQ?autoplay=1">
		<img src="/assets/X47ep1-M6Ts.png" style="width: 320px; height: 180px;">
			<div id="banner-overlay">Click to View</div>
		</img>
	</a>
</div>