<h3>What is TreadHunter?</h3>
<p>
  TreadHunter is a new service that attracts tire buyers in your area
  to view your tires for sale.  By allowing you to easily advertise
  your tires, potential buyers can find you and the tires they need.
  <br />
</p>				

<h3>Why use TreadHunter to help sell your tires?</h3>
<div class="checklist">
	<ul>
		<li>Free service for private sellers</li>
		<li>Allows buyers to search by size or vehicle to find your tires</li>
		<li>Your privacy is protected - your address and phone do not show (unless you want)</li>
	</ul>
</div>