
/* Filter bar */
.search-content-right-box,
.search-content-right-store-box {
  border-top: solid 1px #c2c2c2;
  background: url("/assets/filter-open.png") no-repeat scroll 3px 1em;    // 21x14
  padding-right: 1em;

  &.closed {
    background: url("/assets/filter-closed.png") no-repeat scroll 8px 0.75em;   // 14x21
    
    .filter-item {
      display: none;
    }
  }
  
  a.control {
    display: block;
    color: black;
    font-size: 16px;
    padding: 0.75em 0 0.75em 35px;
    text-decoration: none;
    background-color: transparent;
    
    &:hover {
      color: black;
      text-decoration: none;
      background-color: transparent;
    }
    
    .help {
      float: right;
      background: url("/assets/question-icon.png") no-repeat scroll right center;
      width: 19px;
      height: 19px;
    }
  }
  
  .filter-item {
    margin-left: 35px;
    margin-bottom: 1em;
    
    label {
      display: inline;
      margin: 0;
    }
  }
}

#show-filters a {
  display: none;
}


@media screen and (max-width: 767px) {
  #search-filters-wrapper {
    display: none;
    
    &.show {
      display: block;
    }
  }
  
  #show-filters a {
    display: block;
  }
}