.fivestar-control {
  whitespace: nowrap;
  color: #c5c5c5;
  
  a {
    display: inline-block;
    background: url("/assets/star-off.png") no-repeat scroll 0 0 / 100% 100%;
    width: 32px;
    height: 28px;
  
    &.on {
      background-image: url("/assets/star.png");
    }
  }
}

.ratings .reviews-count a {
  color: #f05a29;
  text-decoration: underline;
  white-space: nowrap;
}

.ratings.smaller {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 0.25em;

  img {
    width: 19px;
    height: 17px;
  }
  .reviews-count a {
    margin-left: 0.5em;
  }
}

@media screen and (max-width: 767px) {
  .ratings.smaller-mobile {
    font-size: 14px;
    line-height: 1.5;
  
    img {
      width: 20px;
      height: 18px;
    }
    .reviews-count a {
      margin-left: 0.5em;
      line-height: 1.5;
    }
    .review-time {
      margin-left: 0;
      float: right;
    }
  }
}


/* Common styles for Reviews tab */

#review-form .para {
  font-size: 16px;
}

#review-submission {
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: #efefef;
  border: solid 1px #c6c6c6;
  border-radius: 3px;

  h3 {
    float: left;
    line-height: 1.75;
    margin-right: 20px;
  }
  .fivestar-control {
    float: left;
  }
  .submit-btn {
    margin-top: 10px;
    text-align: right;
  }
  .submit-review {
    font-size: 16px;
  }
}
#review-content {
  width: 100%;
  box-sizing: padding-box;
}

#reviews .review {
  position: relative;
  margin: 20px 0;
  padding: 10px;
  background-color: #fafafa;
  border: solid 1px #c6c6c6;
  border-radius: 3px;

  .new-alert {
    position: absolute;
    top: 0;
    left: 61%;
    color: white;
    background-color: black;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    padding: .5em .5em 0;
    z-index: 10;
  }
  
  h3 {
    max-width: 60%;   //good number to avoid the NEW tag most of the time and the Helpful text always
    text-transform: uppercase;
  }
  
  .helpful {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 14px;
  
    .yes-btn {
      margin-left: 10px;
      padding: .125em .5em;
    }
  }
  
  .ratings {
    margin-bottom: 1em;
  }
  .review-time {
    display: inline-block;
    margin-left: 10px;
    padding-top: 3px;
    white-space: nowrap;
    vertical-align: middle;
  }
  .flag {
    float: right;
    color: #c2c2c2;
  }
}


#main-reviews {
  float: left;
  width: 75%;
}

#other-reviews {
  float: left;
  width: 22%;
  padding-right: 3%;
  
  .title {
    font-size: 20px;
    font-style: italic;
  }
  
  .review {
    margin-top: 5px;
    padding-top: 5px;
    border-top: solid 1px #c2c2c2;
  
    .store-name {
      font-weight: normal;
    }
    .see-more {
      text-align: right;
    }
    .see-more a {
      color: #F05A29;
      font-weight: bold;
      text-decoration: underline;
    }
  }
}


@media screen and (max-width: 891px) {
  #reviews .review.new h3 {
    max-width: 51%;
  }
  #reviews .review .new-alert {
    left: 53%;
  }
}

@media screen and (max-width: 767px) {
  #other-reviews {
    display: none;
  }
  #main-reviews {
    float: none;
    width: 100%;
  }
  
  #review-submission .submit-btn {
    text-align: center;
  }
  
  #reviews .review {
    h3 {
      max-width: 100%;
    }
    &.new h3 {
      max-width: 84%;
    }
    
    .new-alert {
      left: auto;
      right: 10px;
    }
    .ratings {
      margin-top: .5em;
    }
    .helpful {
      position: static;
      float: left;
    }
  }
}
