<% provide(:title, @page_title) %>

<%= javascript_include_tag "ddaccordian.js" %>

<script type="text/javascript">
	var ddaccordionsetting = {
		headerclass: "promo-header",
		contentclass: "content",
		revealtype: "click",
		mouseoverdelay: 200,
		collapseprev: true,
		defaultexpanded: [1],
		onemustopen: false,
		animatedefault: false,
		persiststate: true,
		toggleclass: ["", "openheader"],
		togglehtml: ["prefix", "", ""],
		animatespeed: "fast",
		oninit:function(headers, expandedindices){
			//do nothing
		},
		onopenclose:function(header, index, state, isuseractivated) {
			//do nothing
		}
	}

	ddaccordion.init(ddaccordionsetting);	
</script>

<%= stylesheet_link_tag "promotion_details" %>

<div id="deals">
	<% @promotions.each do |promotion| %>
		<%= render :partial => "promo_details", :locals => {:promotion => promotion, :tire_store => nil} %>
	<% end %>
</div>