<h2>Your storefronts</h2>
<% @tire_stores.each do |t| %>
	<% if t.website %>
		<%= link_to t.name, t.website %><br>
	<% else %>
		<%= t.name %> - Edit now (<%= url_for :controller => 'tire_stores', :action => 'edit', :only_path => false, :id => t.id %>)<br>
	<% end %>
	<br>
<% end %>
<h2>Login instructions</h2>
<p>To log into your storefront, do one of the following:</p>
<ul>
	<li>Go to <a href="http://www.treadhunter.com/signin">www.treadhunter.com</a>, and enter your credentials.  If you've forgotten your password, use the Forgot your password? link to email you password reset instructions.</li>
	<li>Go to your storefront (shown and linked above) and click the Login link at the top of the page.</li>
</ul>
Once you are logged in, please use the attached PDF instruction sheets to set up your storefront and list your tires on TreadHunter and your storefront.  If you encounter any problems, don't hesitate to contact us through any of the methods listed at <a href="http://www.treadhunter.com/pages/faq">our FAQ page.</a><br>
Once again, thank you for using TreadHunter.com!
