<!DOCTYPE html>
	<html>
		<head>
			<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
		</head>
		<body>
			<p>Dear <%= @user.name %>,<p />
				Thank you for using TreadHunter.com to sell your tires.<br />
				<h2>Login instructions</h2>
				<p>To log into TreadHunter.com, do the following:</p>
				<p>Go to <a href="http://www.treadhunter.com/signin">www.treadhunter.com</a>, and enter your credentials.  If you've forgotten your password, use the Forgot your password? link to email you password reset instructions.</p>
				<br />
				Once you are logged in, please use the attached PDF instruction sheets to list your tires on TreadHunter.  If you encounter any problems, don't hesitate to contact us through any of the methods listed at <a href="http://www.treadhunter.com/pages/faq">our FAQ page.</a><br>
				Once again, thank you for using TreadHunter.com!

			</p>
		</body>
	</html>