<div id="auto_models">
<select id="auto_models" 
        name="auto_model_id" 
        select_model_path="/ajax/update_auto_years_visfire">
  <option value="">Model</option>
  <% @models.each do |m| %>
    <% if m.id == session[:auto_model_id] %>
      <option selected="selected" value="<%= m.id %>"><%= m.name %></option>
    <% else %>
      <option value="<%= m.id %>"><%= m.name %></option>
    <% end %>
  <% end %>
</select>
<script>
  $('select#auto_models').change(function() {
    v = $(this).attr('value');
    if(typeof v == 'undefined') {
      v = $('select#auto_models').val(); 
    }
    $.ajax({
      type: "GET",
      dataType: "html",
      url: $(this).attr('select_model_path'),
      data: {model_id: v, c: $(this).attr('class')},
      success:function(result){
        $("div#auto_years").html(result);
        $("div#auto_years").find("script").each(function(i) {
			eval($(this).text());
        });
        fix_select('select#auto_years');        
      } 
    });
    $.ajax({
      type: "GET",
      dataType: "html",
      url: "/ajax/update_auto_options_visfire",
      data: {auto_year_id: 0, c: $(this).attr('class')},
      success:function(result){
        $("div#auto_options").html(result);
        fix_select('select#auto_options');
      } 
    });
  });
</script>
</div>
