<div class="hover" id="tire_manufacturers">
  <select class="cars" 
          id="tire_manufacturers" 
          name="tire_manufacturer_id"
          style="width: 180px;">
    <option value="">Select a Tire Mfr.</option>
    <% @tire_manufacturers.each do |m| %>
      <% if !@tire_listing.nil? && @tire_listing.tire_manufacturer_id == m.id %>
        <option selected="selected" value="<%= m.id %>"><%= m.name %></option>
      <% else %>
        <option value="<%= m.id %>"><%= m.name %></option>
      <% end %>
    <% end %>
  </select>
</div>
<script>
  $('select#tire_manufacturers').change(function() {
    $.ajax({
      type: "GET",
      dataType: "html",
      url: "/ajax/update_tire_models_visfire",
      data: {tire_manufacturer_id: $(this).attr('value'),
             tire_size_id: $('select#tire_sizes').attr('value')},
      success:function(result){
      	$("div#tire_models").html(result);
        fix_select('select#tire_models');
      } 
    })
  });
</script>
