<% if !params[:store_type].blank? %>
	<% session[:store_type] = params[:store_type] %>
<% end %>

<% @store_type = session[:store_type].downcase unless session[:store_type].blank? %>

<% if (session[:store_type].blank? && params[:store_type].blank?) %>
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
	<style>
		.ui-widget-header {
			background: #E74731 50% 50% repeat-x;
			
		}
		button.jqTransformButton {
			margin: 0;
			width: 98%;
		}
		button.jqTransformButton span {
			font-size: 0.8em;
		}

		.opaque { opacity: 0.5 }
		
		#dialog { opacity: 1.0; }
	</style>
	<script>
		$(function() {
			$( "#outer-wrapper").addClass('opaque');
			$( "#dialog" ).dialog({
				beforeClose: function( event, ui ) { $("#outer-wrapper").removeClass('opaque');}
			});
		});
	</script>

	<div id="dialog" title="What Type of Seller Are You?">
		<p>
			<h3>You are:</h3>
		</p>
		<br />
		<center>
			<%= form_tag params.merge(:action=>"set_seller_type"), :style => "display: inline;" do %>
				<button id="" name="new" type="submit" class="jqTransformButton">
					<span>Store Selling New Tires</span>
				</button>
			<% end %>
			<%= form_tag params.merge(:action=>"set_seller_type"), :style => "display: inline;" do %>
				<button id="" name="used" type="submit" class="jqTransformButton">
					<span>Store Selling Used Tires</span>
				</button>
			<% end %>
			<%= form_tag params.merge(:action=>"set_seller_type"), :style => "display: inline;" do %>
				<button id="" name="private" type="submit" class="jqTransformButton">
					<span>Not a Store, Just a Private Seller</span>
				</button>
			<% end %>
		</center>
	</div>

<% end %>
