<%= yield :scripts %>
<div id="footer" class="clearfix">
    <div  id="footer-inner">
      <div class="footer-logo">
        <a href="/"><%= image_tag("footer_logo_new.png", alt: "Treadhunter", title: "Treadhunter") %></a>
      </div>
      <div class="row-fluid links">
	    <div class="span3 col">
	      <div class="col-title">
	        <span class="first">SEARCH</span> <span class="second">TIRES</span>
	      </div>
	      <div class="link">
	        <a href="/search">By Vehicle or Size</a>
	      </div>
	      <div class="link">
	        <a href="/brands">By Brand</a>
	      </div>
	      <div class="link">
	        <a href="#">By Performance</a>
	      </div>
	      <div class="link">
	        <a href="/deals">Tire Deals</a>
	      </div>
	      <div class="link">
	        <a href="#">By Season</a>
	      </div>
	    </div>
	    
	    <div class="span3 col">
	      <div class="col-title">
	        <span class="first">SHOP</span> <span class="second">DEALS</span>
	      </div>
	      <div class="link">
	        <a href="/deals">Rebates</a>
	      </div>
	    </div>
	    
	    <div class="span3 col">
	      <div class="col-title">
	        <span class="first">RESEARCH</span> <span class="second">CENTER</span>
	      </div>
	      <div class="link">
	        <a href="#">Choosing the Right Tires</a>
	      </div>
	      <div class="link">
	        <a href="#">Installation and Maintenance</a>
	      </div>
	      <div class="link">
	        <a href="#">Tire Safety</a>
	      </div>
	      <div class="link">
	        <a href="#">Tires 101</a>
	      </div>
	    </div>
	    
	    <div class="span3 col">
	      <div class="col-title">
	        <span class="first">ABOUT</span> <span class="second">US</span>
	      </div>
	      <div class="link">
	        <a href="/contact_us/new">Contact Us</a>
	      </div>
	      <div class="link">
	        <a href="/ut_landing">How It Works</a>
	      </div>
	      <div class="link">
	        <a href="#">FAQ</a>
	      </div>
	      <div class="link">
	        <a href="#">Se Habla Español</a>
	      </div>
	    </div>
	</div>
</div>
