<footer class="footer">
  <%= yield :scripts %>
  <small>
    &nbsp;&nbsp;&copy; 2012 <a href="/">TreadHunter.com</a>
  </small>
  <!--
  <nav>
    <ul class="headernav">
      <li><%= link_to "Home",   "/" %></li>
    </ul>
  </nav>
-->
</footer>