<%= yield :scripts %>
<style>
.footer-link {
color: #CCC;
/* text-decoration: none; */
}
</style>
<footer>
	<div class="bottom"></div>
	<div class="footer">
		&copy; 2012 treadhunter.com | <a class="footer-link" href="/">home</a> | <a class="footer-link" href="/privacy.html">privacy policy</a> 
		| <a class="footer-link" href="/contact_us/new">contact us</a>
		| <a class="footer-link" href="/pages/faq">faq</a>
	</div>
</footer>