<div class="sort">
    <div style="display: inline;">Sort by:</div>
    <div style="display: inline;">
      <select id="sort-order" class="users" onchange="OnSortChange()">
        <option>Select a sort order</option>
        <option id="quantity" value="quantity">Quantity</option>
        <option id="type" value="type">Type</option>
        <option id="treadlife" value="treadlife">Treadlife</option>
        <option id="priceasc" value="priceasc">Price - Low to High</option>
        <option id="pricedesc" value="pricedesc">Price - High to Low</option>
        <% if include_distance %>
          <option id="distance" value="distance" selected="selected">Distance</option>
        <% end %>
        <% if date_sort %>
          <option id="date" value="date" selected="selected">Recently Modified</option>
        <% end %>
      </select>
      <noscript><input type="submit" value="Go" name="sort"></noscript>
    </div>
</div>
<% if date_sort %>
  <script>
    function OnSortChange() {            
      if(typeof deleteCompressedNodes == 'function')
          deleteCompressedNodes();
      if ($('select#sort-order').attr('value') == 'quantity')
        $('#tirelistings_list>a').tsort('.tire-quantity', {useVal:false});
      else if ($('select#sort-order').attr('value') == 'type')
        $('#tirelistings_list>a').tsort('.category-type', {useVal:false});
      else if ($('select#sort-order').attr('value') == 'treadlife')
        $('#tirelistings_list>a').tsort('.hidden-treadlife', {order:'desc', useVal:false});
      else if ($('select#sort-order').attr('value') == 'distance') {
        $('#tirelistings_list>a').tsort('.distance', {useVal:false});
        if(typeof createCompressedNodes == 'function')
          createCompressedNodes(last_known_result);
      }
      else if ($('select#sort-order').attr('value') == 'priceasc')
        $('#tirelistings_list>a').tsort('.price-data');
      else if ($('select#sort-order').attr('value') == 'pricedesc') 
        $('#tirelistings_list>a').tsort('.price-data', {order:'desc'});
      else if ($('select#sort-order').attr('value') == 'date') 
        $('#tirelistings_list>a').tsort('.hidden-updated', {order:'desc'});
    };
  </script>
<% else %>
  <script>
    function OnSortChange() {      
      if(typeof deleteCompressedNodes == 'function')
          deleteCompressedNodes();
      if ($('select#sort-order').attr('value') == 'quantity')
        $('#tirelistings_list>a').tsort('.tire-quantity', {useVal:false});
      else if ($('select#sort-order').attr('value') == 'type')
        $('#tirelistings_list>a').tsort('.category-type', {useVal:false});
      else if ($('select#sort-order').attr('value') == 'treadlife')
        $('#tirelistings_list>a').tsort('.hidden-treadlife', {order:'desc', useVal:false});
      else if ($('select#sort-order').attr('value') == 'distance') {
        $('#tirelistings_list>a').tsort('.distance', {useVal:false});
        if(typeof createCompressedNodes == 'function')
          createCompressedNodes(last_known_result);
      }
      else if ($('select#sort-order').attr('value') == 'priceasc')
        $('#tirelistings_list>a').tsort('.price-data');
      else if ($('select#sort-order').attr('value') == 'pricedesc') 
        $('#tirelistings_list>a').tsort('.price-data', {order:'desc'});
    };
  </script>
<% end %>