<font size="1">
<a href="#" 
	id="load-index-popover"
	rel="popover" 
	title="Load Index" 
	data-content='
	The Load Index rating is a numerical value indicating a tires relative load carrying capabilities.  The
higher the load index rating a tire has, the greater its load carrying capacity.<br />
<table cellspacing="0" cellpadding="2" border="0" align="center">
    <tr>
        <th>Load Index</font></th>
        <th>Pounds</font></th>
        <th width="20" rowspan="21"><br></th>
        <th>Load Index</font></th>
        <th>Pounds</font></th>
    </tr>
    <tr class="popover-table-even">
        <td>71</td>
        <td>761</td>
        <td>91</td>
        <td>1356</td>
    </tr>
    <tr>
        <td>72</td>
        <td>783</td>
        <td>92</td>
        <td>1389</td>
    </tr>
    <tr class="popover-table-even">
        <td>73</td>
        <td>805</td>
        <td>93</td>
        <td>1433</td>
    </tr>
    <tr>
        <td>74</td>
        <td>827</td>
        <td>94</td>
        <td>1477</td>
    </tr>
    <tr class="popover-table-even">
        <td>75</td>
        <td>853</td>
        <td>95</td>
        <td>1521</td>
    </tr>
    <tr>
        <td>76</td>
        <td>882</td>
        <td>96</td>
        <td>1565</td>
    </tr>
    <tr class="popover-table-even">
        <td>77</td>
        <td>908</td>
        <td>97</td>
        <td>1609</td>
    </tr>
    <tr>
        <td>78</td>
        <td>937</td>
        <td>98</td>
        <td>1653</td>
    </tr>
    <tr class="popover-table-even">
        <td>79</td>
        <td>963</td>
        <td>99</td>
        <td>1709</td>
    </tr>
    <tr>
        <td>80</td>
        <td>992</td>
        <td>100</td>
        <td>1764</td>
    </tr>
    <tr class="popover-table-even">
        <td>81</td>
        <td>1019</td>
        <td>101</td>
        <td>1819</td>
    </tr>
    <tr>
        <td>82</td>
        <td>1047</td>
        <td>102</td>
        <td>1874</td>
    </tr>
    <tr class="popover-table-even">
        <td>83</td>
        <td>1074</td>
        <td>103</td>
        <td>1929</td>
    </tr>
    <tr>
        <td>84</td>
        <td>1102</td>
        <td>104</td>
        <td>1984</td>
    </tr>
    <tr class="popover-table-even">
        <td>85</td>
        <td>1135</td>
        <td>105</td>
        <td>2039</td>
    </tr>
    <tr>
        <td>86</td>
        <td>1168</td>
        <td>106</td>
        <td>2094</td>
    </tr>
    <tr class="popover-table-even">
        <td>87</td>
        <td>1201</td>
        <td>107</td>
        <td>2149</td>
    </tr>
    <tr>
        <td>88</td>
        <td>1235</td>
        <td>108</td>
        <td>2205</td>
    </tr>
    <tr class="popover-table-even">
        <td>89</td>
        <td>1279</td>
        <td>109</td>
        <td>2271</td>
    </tr>
    <tr>
        <td>90</td>
        <td>1323</td>
        <td>110</td>
        <td>2337</td>
    </tr>
</table>
	'>
    <% if defined?(icon_black) %>
        <i class="icon-question-sign icon-black"></i>
    <% else %>
        <i class="icon-question-sign icon-white"></i>
    <% end %>
</a>
</font>
<script>
	$(function()
		{
			$("#load-index-popover").popover();
		}
	);
</script>
