
<div id="dialog-zipcode" class="th-dialog" title="" style="display: none;">
	<form id="zipcode-dialog-form" class="center-content">
		<p>Please enter your zip code.</p>
		<input type="text" name="locationstr" id="dialog-locationstr" value="<%= @default_locationstr %>"/>
		<input type="submit" class="btn" value="GO"/>
		<div class="error-msg">Please enter a 5-digit zip code.</div>
	</form>
</div>