<h3>Sidewall terms</h3><br />
BL/BLK = Black Letters<br />
BSL = Black Serrated Letters<br />
BW = Blackwall<br />
OBL = Outlined Black Letters<br />
OWL = Outlined raised White Letters<br />
RBL = Recessed Black Letters<br />
RWL = Raised White Letters<br />
SB/SBL = Serrated Black Letter<br />
WW = Whitewall<br />