
<div class="modal fade" id="sidewall_modal">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <%= render :file => '/layouts/_sidewall_info_content.rhtml'%>
  </div>
</div>