<font size="1">
<a href="#" 
	id="speed-rating-popover"
	rel="popover" 
	title="Speed Rating" 
	data-content='
    The Speed Rating measures the maximum speed capability of tire when new.  The most common are:<br />
    <table>
		<tr class="popover-table-even">
			<td width="15%">L</td>
			<td width="20%">75 mph</td>
			<td width="20%">120 km/h</td>
			<td width="45%">Off-Road & Light Truck Tires</td>
		</tr>
		<tr>
			<td width="15%">M</td>
			<td width="20%">81 mph</td>
			<td width="20%">130 km/h</td>
			<td width="45%">Temporary Spare Tires</td>
		</tr>
		<tr class="popover-table-even">
			<td width="15%">N</td>
			<td width="20%">87 mph</td>
			<td width="20%">140km/h</td>
			<td width="45%"></td>
		</tr>
		<tr>
			<td width="15%">P</td>
			<td width="20%">93 mph</td>
			<td width="20%">150 km/h</td>
			<td width="45%"></td>
		</tr>
		<tr class="popover-table-even">
			<td width="15%">Q</td>
			<td width="20%">99 mph</td>
			<td width="20%">160 km/h</td>
			<td width="45%">Studless & Studdable Winter Tires</td>
		</tr>
		<tr>
			<td width="15%">R</td>
			<td width="20%">106 mph</td>
			<td width="20%">170 km/h</td>
			<td width="45%">H.D. Light Truck Tires</td>
		</tr>
		<tr class="popover-table-even">
			<td width="15%">S</td>
			<td width="20%">112 mph</td>
			<td width="20%">180 km/h</td>
			<td width="45%">Family Sedans & Vans</td>
		</tr>
		<tr>
			<td width="15%">T</td>
			<td width="20%">118 mph</td>
			<td width="20%">190 km/h</td>
			<td width="45%">Family Sedans & Vans</td>
		</tr>
		<tr class="popover-table-even">
			<td width="15%">U</td>
			<td width="20%">124 mph</td>
			<td width="20%">200 km/h</td>
			<td width="45%"></td>
		</tr>
		<tr>
			<td width="15%">H</td>
			<td width="20%">130 mph</td>
			<td width="20%">210 km/h</td>
			<td width="45%">Sport Sedans & Coupes</td>
		</tr>
		<tr class="popover-table-even">
			<td width="15%">V</td>
			<td width="20%">149 mph</td>
			<td width="20%">240 km/h</td>
			<td width="45%">Sport Sedans, Coupes & Sports Cars</td>
		</tr>
		<tr>
			<td width="15%">W</td>
			<td width="20%">168 mph</td>
			<td width="20%">270 km/h</td>
			<td width="45%">Exotic Sports Cars</td>
		</tr>
		<tr class="popover-table-even">
			<td width="15%">Y</td>
			<td  width="20%">186 mph</td>
			<td  width="20%">300 km/h</td>
			<td  width="45%"></td>
		</tr>
		<tr>
			<td width="15%">(Y)</td>
			<td width="20%">&gt;186 mph</td>
			<td width="20%">&gt;300 km/h</td>
			<td width="45%"></td>
		</tr>
		<tr class="popover-table-even">
			<td  width="15%">Z</td>
			<td  width="20%">&gt;149 mph</td>
			<td  width="20%">&gt;240 km/h</td>
			<td  width="45%"></td>
		</tr>
	</table>'>
	<% if defined?(icon_black) %>
		<i class="icon-question-sign icon-black"></i>
	<% else %>
		<i class="icon-question-sign icon-white"></i>
	<% end %>
</a>
</font>
<script>
	$(function()
		{
			$("#speed-rating-popover").popover();
		}
	);
</script>
