
<div class="modal fade" id="speed_rating_modal">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <%= render :file => '/layouts/_speed_rating_info_content.rhtml'%>
  </div>
</div>