The Temperature Grade is a measure of how well a tire resists heat and how well it dissipates heat.
The grades can be "A", "B", or "C".  A rating of "C" is the minimum grade to meet the federal
safety standard, while tires with "A" ratings will be the coolest while in use.