<!--  Carousel - consult the Twitter Bootstrap docs at
      http://twitter.github.com/bootstrap/javascript.html#carousel -->
<% if @tire_listings.count > 0 %>
	<div id="this-carousel-id" class="carousel slide" style="align: left; width: 300px; margin: 0px;"  >
	  <div class="carousel-inner">
	  	<% @tire_listings.each do |t| %>
	  		<% if t == @tire_listings.first %>
			<div class="item active"><!-- class of active since it's the first item -->
			<% else %>
			<div class="item">
			<% end %>
				<a href="<%= url_for(t) %>">
					<%= image_tag t.photo1.url(:medium) if t.photo1.exists? %>
					<%= image_tag 'no_image.png', :size => "300x225" unless t.photo1.exists? %>
					<div class="carousel-caption">
			        	<p><%= t.teaser %></p>	        	
				    </div>
				</a>
		    </div>
		 <% end %>
	  </div><!-- /.carousel-inner -->
	  <!--  Next and Previous controls below
	        href values must reference the id for this carousel -->
	    <a class="carousel-control left" href="#this-carousel-id" data-slide="prev">&lsaquo;</a>
	    <a class="carousel-control right" href="#this-carousel-id" data-slide="next">&rsaquo;</a>
	</div><!-- /.carousel -->
<% else %>
	There are no listings for this store.
<% end %>