The Temperature Grade is a measure of a tire's ability to stop on wet pavement under controlled
conditions on asphalt and concrete surfaces.  The grades from highest to lowest are:<br />
AA<br />
A<br />
B<br />
C<br />
These grades only measure stopping power for straight ahead braking and do not consider turning
performance or cornering ability.