<font size="1">
<a href="#" 
	id="treadwear-popover"
	rel="popover" 
	title="Treadwear" 
	data-content="<%= render :file => '/layouts/_treadwear_info_content.rhtml'%>">
	<% if defined?(icon_black) %>
		<i class="icon-question-sign icon-black"></i>
	<% else %>
		<i class="icon-question-sign icon-white"></i>
	<% end %>
</a>
</font>
<script>
	$(function()
		{
			$("#treadwear-popover").popover();
		}
	);
</script>
