The Treadwear Grade is a measure of how a tire manufacturer 
sees the wear life of a given tire.  A tire with a grade of 200 should
theoretically last twice as long as a tire with a grade of 100, but keep 
in mind that manufacturers are not required to grade a tire based on actual 
test results but they cannot overstate the grade on a tire.  These grades 
are solely provided by the manufacturer and may be more of a marketing tool 
than a genuine measure of a tire's potential lifespan.